/* 00 Font imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 01 Initalizers and Resets */

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
    padding:  0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: red 1px dashed; */
}

body {
    font-size: 1.6rem;
    font-family: Roboto;
    color: #e5e5e5;
    background-color: #121212;
}

nav {
    margin: 0 auto;
    height: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

nav a {
    color: #e5e5e5;
    text-decoration: none;
}

nav a:hover {
    color: lightgray;
}

.navIcon {
    height: 2.5rem;
}

#github {
    background-color: white;
}

header {
    display: flex;
    /* position: fixed; */
    height: 20rem;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* background-color: #2a2a2a; */
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header a {
    text-decoration: none;
    color: #e5e5e5;
    /* background-color: #2a2a2a; */
    border-radius: .9rem;
    box-shadow: .5rem .5rem .5rem black;
}

header span {
    color: #e5e5e5;
    /* line-height: 1; */
}

#the {
    border-radius: .9rem;
    /* height: 4.7rem; */
}

header a:hover {
    /* text-decoration: underline; */
    color: lightgray;
}

header h1 {
    font-size: 5.2rem;
}

/* header h1:hover {
    font-size: 5rem;
} */

header p {
    font-size: 2.4rem;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 0;
    box-shadow: .5rem .5rem .5rem black;
    border-radius: .9rem;
    padding: 0 .9rem;
}

#tagLine {
    width: auto;
}

/* Audio nav */

.audioNav {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    gap: 1rem;
}

#audioContainer {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

}

.playerBtn {
    height: 2.5rem;
    width: 2.5rem;
}

.playerBtn:hover {
    height: 2.4rem;
    width: 2.4rem;
    filter:brightness(10);
}

.soundControls {
    display: flex;
    align-items: flex-end;
    gap: .5rem;
}

.plusMinus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(3.8px);
}

#soundIcon {
    height: 2.5rem;
    width: 2.5rem;
}

#soundIcon:hover {
    height: 2.6rem;
    width: 2.6rem;
}

#muteIcon {
    height: 2.5rem;
    width: 2.5rem;
}

#muteIcon:hover {
    height: 2.6rem;
    width: 2.6rem;
}

#volPlus {
    height: 1.4rem;
    width: 1.4rem;
}

#volMinus {
    height: 1.4rem;
    width: 1.4rem;
}

#volPlus:hover {
    height: 1.5rem;
    width: 1.5rem;
}

#volMinus:hover {
    height: 1.5rem;
    width: 1.5rem;
}

.progBarBox {
    /* display: flex; */
    margin: 0 auto;
    justify-items: left;
    width: 40rem;
    height: 2px;
}

.progBar {
    background-color: #e5e5e5;
    height: 3px;
    width: 0;
}

/* MAIN SECTION */

main {
    display: flex;
    flex-direction: column;
    /* margin-top: 3rem; */
    margin-bottom: 20rem;
    gap: 3rem;
}

main a {
    text-decoration: none;
    color: #e5e5e5;
}

main a h2:hover {
    color: lightgray;
}

.row {
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.row h2 {
    font-size: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 44rem;
}

.imgContain {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:29.33rem;
    background-color: black;
}

.imgContain:hover {
    width: 43.5rem;
    filter: invert(.8);
    cursor: pointer;
}

#python {
    width: 10rem;
}

#node {
    width: 30rem;
}

#fmod {
    width: 30rem;
}

#ae {
    width: 10rem;
}

#python:hover {
    filter: none;
    width: 10rem;
}

#node:hover {
    filter: none;
}

#fmod:hover {
    filter: none;
}

#ae:hover {
    filter: none;
}

main img:hover {
    width: 43.5rem;
    filter: invert(.8);
}